# Telemetry files
FIT_FILE="data/22465822069_ACTIVITY.fit"
TCX_FILE="data/activity_22465822069.tcx"
CSV_FILE="data/output/activity_22465822069.csv"

# Font path
FONT_PATH="/usr/share/fonts/truetype/noto/NotoSans-Regular.ttf"
#FONT_PATH="/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf"

# For debugging purposes, break after the first frame to verify output before processing the entire dataset
OVERLAY_DEBUG="True"

# Video merge settings
INPUT_VIDEO_PATH="/mnt/v/media/video/dji/internal_storage/DCIM/DJI_001/DJI_20260322110703_0004_D.MP4"
INPUT_VIDEO_FPS="59.94"
OUTPUT_VIDEO_PATH="output_nvenc.mp4"
START_TIME="00:00:00"
END_TIME="00:19:00"

# FFMPEG settings
FFMPEG_ENCODER="hevc_nvenc"
FFMPEG_RC="vbr"
FFMPEG_TUNE="hq"
FFMPEG_MULTIPASS="fullres"
FFMPEG_CQ="19"
